.main {
  padding: 314px 0 120px 0;

  &__container {
    max-width: 760px;
    margin: 0 auto;
  }

  &__title {
    text-align: center;
    color: #1F262E;
  }

  &-card {
    margin: 85px 0 0 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &__content{
      width: 358.64px;
      .text{
        margin: 20px 0;
      }
    }
  }
}
